<div class="stages-wrap">
    <h5>Этапы:</h5>


    <div>
        <ul class="stage-ul" ng-if="stages.length">
            <li ng-repeat="stage in stages">
                <div ng-include="'/stage-column.html'"></div>
            </li>
        </ul>
    </div>
</div>

<script type="text/ng-template" id="/stage-column.html">
    <div class="tree-line">
        <a class="title-wrap"
           ui-sref="cards.tree({id:tree.id})">
            <span class="title">{{stage.title}}</span>
        </a>
    </div>
</script>