.tree-wrap {
  background: #EEE;
  padding: 10px;
  .tree-ul {
    padding: 0 0 0 20px;
    list-style: none;
  }
  .title-wrap {
    padding: 5px 10px;
    cursor: pointer;
    display: inherit;
    &.active {
      font-weight: bold;
    }
  }
}
